* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 248, 248);
  margin: 0;
  display: flex;
}

.list-item {
  color: black;
  padding: .5em;
}

.list-item:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(181, 177, 158);
  border-radius: 20px;
  cursor: pointer;
}

.text-style {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

#nav {
  position: relative;
  background-color: rgb(227, 227, 208);
  border: 1px solid red;
  top: -4.5em;
  border-radius: 20px;
}

#nav-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: black;
}

ul {
  padding-inline-start: 0;

  list-style: none;
  text-decoration: none;
}

#main {
  position: relative;
  top: 100px;
  margin: auto;
  background-color: rgb(227, 227, 208);
  border-radius: 20px;
  padding: 3em;
}

#main-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: black;
  position: relative;
  top: -2em;
}